<div class="container-fluid pane" id="workflow">
  <div class="row">
    <div class="col-md-3">
      <div class="panel-group" role="tablist">
        <panel title="General" [listGroup]="true" [collapse]="false">
          <li class="list-group-item">
            <button (click)="execute()" type="button" class="btn btn-success">Execute</button>
            <button (click)="startTour()" type="button" class="btn btn-default pull-right">Help</button>
          </li>
        </panel>
        <div 
          [stepContent]="processesContent"
          joyrideStep="processes">
          <panel title="Processes" [listGroup]="true" [scrollable]="true" uid="processPanel">
            <li *ngFor="let process of processes" 
              dnd-draggable
              [dragEnabled]="true"
              [dragData]="process"
              (click)="showAbstract(process)"
              class="list-group-item">
              {{process.display()}}
            </li>
          </panel>
        </div>
        <div
          [stepContent]="globalRegridContent"
          joyrideStep="globalRegrid">
          <panel title="Regrid" uid="globalRegridPanel">
            <regrid-config
              [model]="base.regrid">
            </regrid-config>
          </panel>
        </div>
        <div
          [stepContent]="globalParameterContent"
          joyrideStep="globalParameter">
          <panel title="Parameter" [listGroup]="true" [scrollable]="true" uid="globalParameterPanel">
            <parameter-config 
              [process]="base">
            </parameter-config>
          </panel>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div 
        class="fill" 
        [doneTemplate]="doneButton"
        [nextTemplate]="nextButton"
        [prevTemplate]="prevButton"
        [stepContent]="editorContent"
        joyrideStep="editor">
        <div
          [stepContent]="processContent"
          joyrideStep="process">
          <svg 
            class="graph-container" 
            dnd-droppable 
            (onDropSuccess)="dropped($event)">
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #doneButton>
<button type="button" class="btn btn-default">DONE</button>
</ng-template>
<ng-template #nextButton>
<button type="button" class="btn btn-default">NEXT</button>
</ng-template>
<ng-template #prevButton>
<button type="button" class="btn btn-default">PREV</button>
</ng-template>
<ng-template #globalParameterContent>
<pre>
Configure parameters for the workflow, these 
will be used as the default for all processes.
</pre>
</ng-template>
<ng-template #globalRegridContent>
<pre>
Configure regridding for the workflow, this 
will be used as the default for all processes.
</pre>
</ng-template>
<ng-template #processesContent>
<pre>
Click on an item to display its abstract.

Click and drag an item onto the editor to create 
a process.
</pre>
</ng-template>
<ng-template #processContent>
<pre>
Click a process to open the configuration
page.

On this page you'll be able to configure inputs,
parameters, regridding and domain.
</pre>
</ng-template>
<ng-template #editorContent>
<pre>
Welcome to the workflow editor.

Here you'll be able to configure workflows, 
these may consist of a single or multiple 
processes. 

To connect multiple processes you 
must shift click the source and drag to the 
destination.

Clicking on a process will open the 
configuration page.
</pre>
</ng-template>
<process-configure 
             (removed)="removeProcess($event)"
             (inputRemoved)="removeInput($event)"
             [params]=params
             [datasetID]=datasetID
             [processWrapper]=selectedNode>
</process-configure>
<process-abstract
             [process]=selectedAbstract>
</process-abstract>
