<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      Status
    </div>
    <div class="panel-body">
      <table *ngIf="selectedJob !== undefined && selectedJob.status !== undefined" class="table">
        <tbody class="job-status">
          <tr *ngFor="let current of selectedJob.status">
            <td>
              <div class="row">
                <div class="col-md-2"><h4>{{current.status}}</h4></div>
                <div class="col-md-4"><h5>{{current.created_date|date:'medium'}}</h5></div>
              </div>
              <br>
              <div *ngFor="let message of current.messages" class="row">
                <div class="col-md-2 col-md-offset-1">{{message.created_date|date:'medium'}}</div>
                <div class="col-md-1">{{message.percent}} %</div>
                <div class="col-md-8">{{message.message}}</div>
              </div>
              <div *ngIf="current.output !== null" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11"><a href="{{current.output.uri}}.html" target="_blank">{{current.output.id}}</a></div>
              </div>
              <div *ngIf="current.exception !== null" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11"><pre>{{current.exception}}</pre></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-table [search]="false" [headers]="headers" [items]="jobs | async">
      <ng-template let-item>
        <tr [class.selected]="selectedJob === item" (click)="selectJob(item)" class="job">
          <td>{{item.created_date|date:'medium'}}</td>
          <td>{{item.elapsed}}</td>
        </tr>
      </ng-template>
    </pagination-table>
  </div>
</div>
