_*/
node_modules/
compute/assets/
webpack-stats.json
compute/wps/assets/bundles/
compute/compute/settings.py

*.txt
*.nc
*.sql

*.key
*.crt
*.srl
*.csr

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log
.idea

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*~

# local secret things
secrets.py

*.sqlite3
