<html>
<head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
  <body>

    <h1>General WPS</h1>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=getcapabilities">WPS GetCapabilities</A>
    <br>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=DescribeProcess&identifier=test_process">Describe Test Process</a>
    <br>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=DescribeProcess&identifier=averager">Describe Averager Process</a>
    <br>
    <h1>Basic Examples in RAW WPS output</h1>
    <h2>Status Page (show progress of process</h2>
    <a href="{{ request.get_host }}/status">Status Page</a>
    <h2>Bare Bones Dummy Examples</h2>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=test_process">Execute Test Process With Default Values</a>
    <br>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=test_process&datainputs=[val=5;pauseTime=.1;pauseNumber=1;pause=True]">Execute Test Process With 1 Small Pause</a>
    <br>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=test_process&datainputs=[val=5;pauseTime=4;pauseNumber=5;pause=True]">Execute Test Process With 5 Long Pauses</a>
    <br>
    <a href="{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=test_process&datainputs=[val=5;pauseTime=8;pauseNumber=9;pause=True]">Execute Test Process With Too Many Pauses</a>
    <h2>Basic Scientific Examples (Raw wps format)</h2>
    <a href='{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}, "time": {"start": "1980", "end": "1982"}};variable={"uri":"file://opt/nfs/cwt/uvcdat/latest/share/uvcdat/sample_data/tas_dnm-95a.xml","id":"tas","domain":"glbl"};axes=xy]'>Execute Spatial Average On Local (Server Side Local) File</a>
    <a href='{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}, "time": {"start": "1980", "end": "1982"}};variable={"uri":"file://opt/nfs/cwt/uvcdat/latest/share/uvcdat/sample_data/tas_dnm-95a.xml","id":"tas","domain":"glbl"};axes=t]'>Execute Time Average On Local (Server Side Local) File</a>
<br>
    <a href='{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}};variable={"uri":"http://test.opendap.org/opendap/hyrax/data/nc/coads_climatology.nc","id":"SST","domain":"glbl"};axes=xy;outputformat=netcdf]'>Compute Spatial Average On Opendap File (result is time serie) output as NetCDF</a>
<br>
    <a href='{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}};variable={"uri":"http://test.opendap.org/opendap/hyrax/data/nc/coads_climatology.nc","id":"SST","domain":"glbl"};axes=y;outputformat=png]'>Compute and Plot Zonal Average On Opendap File</a>
    <h2>Basic ONE output post-processed wps request</h2>
    <a href='{{ request.get_host }}/postprocessed/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}};variable={"uri":"http://test.opendap.org/opendap/hyrax/data/nc/coads_climatology.nc","id":"SST","domain":"glbl"};axes=xy;outputformat=netcdf]'>Compute Spatial Average On Opendap File (result is time serie) output as NetCDF</a>
<br>
    <a href='{{ request.get_host }}/postprocess/?version=1.0.0&service=wps&request=Execute&identifier=averager&datainputs=[domain={"id":"glbl","longitude": {"start": -180.0, "end": 180.0}};variable={"uri":"http://test.opendap.org/opendap/hyrax/data/nc/coads_climatology.nc","id":"SST","domain":"glbl"};axes=y;outputformat=png]'>Compute and Plot Zonal Average On Opendap File</a>

<br>
    <a href='{{ request.get_host }}/postprocess/?version=1.0.0&service=wps&request=Execute&identifier=slurm_dispatcher&datainputs=[domain={"longitude":{"start":-180.0,"end":180.0}};variable={"uri":"file://opt/nfs/cwt/data/cmip5.output1.MIROC.MIROC4h.historical.mon.atmos.Amon.r1i1p1.xml","id":"ts"};operation=averager]'>Dispatch Averager Using SLURM</a>
<br>
<a href='{{ request.get_host }}/wps/?version=1.0.0&service=wps&request=Execute&identifier=slurm_dispatcher&datainputs=[variable=[{"uri":"file://opt/nfs/cwt/data/cmip5.output1.MIROC.MIROC4h.historical.mon.atmos.Amon.r1i1p1.xml","id":"ts"},{"uri":"file://opt/nfs/cwt/data/cmip5.output1.MIROC.MIROC4h.historical.mon.atmos.Amon.r2i1p1.xml","id":"ts","domain":"foo"},{"uri":"file://opt/nfs/cwt/data/cmip5.output1.MIROC.MIROC4h.historical.mon.atmos.Amon.r3i1p1.xml","id":"ts","domain":"foo"}];domain={"id":"foo","latitude":{"start":-90,"end":90}};operation=ensemble_averager]'>Dispatch Ensemble Averager Using Slurm</a>
    <br>

  </body>
</html>

