.pane {
	padding: 1em;
}

.ng-valid[required], .ng-valid.required {
	border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}

.form-group {
	margin-bottom: 5px !important;
}

tbody.job-status {
	min-height: 310px;
}

tr.job:hover {
	background: #f5f5f5;	
}

tr.job.selected {
	background: #e6e6e6;
}
