<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Details
        </div>
        <div class="panel-body">
          <ng-template #empty>
            No Details to Display.
          </ng-template>
          <table *ngIf="selectedJob !== null; else empty" class="table">
            <tbody class="job-status">
              <tr *ngFor="let current of selectedJob.status">
                <td>
                  <div class="row">
                    <div class="col-md-2"><h4>{{current.status}}</h4></div>
                    <div class="col-md-4"><h5>{{current.created_date|date:'medium'}}</h5></div>
                  </div>
                  <br>
                  <div *ngFor="let message of current.messages" class="row">
                    <div class="col-md-3 col-md-offset-1">{{message.created_date|date:'medium'}}</div>
                    <div class="col-md-1">{{message.percent}} %</div>
                    <div class="col-md-7">{{message.message}}</div>
                  </div>
                  <ng-container *ngIf="current?.output; else exception">
                    <ng-container *ngIf="current?.output.length > 1; else singleOutput">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                          <div *ngFor="let x of current.output">
                            <a href="{{x.uri}}.html" target="_blank">{{x.id}}</a>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #singleOutput>
                      <ng-container *ngIf="current.output.uri != undefined; else rawOutput">
                        <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-11"><a href="{{current.output.uri}}.html" target="_blank">{{current.output.id}}</a></div>
                        </div>
                      </ng-container>
                    </ng-template>
                    <ng-template #rawOutput>
                      <ng-container>
                        <div class="row">
                          <div class="col-md-1"></div>
                          <div class="col-md-11"><pre>{{current.output | json}}</pre></div>
                        </div>
                      </ng-container>
                    </ng-template>
                  </ng-container>
                  <ng-template #exception>
                    <ng-container *ngIf="current.exception != null">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11"><pre>{{current.exceptionParsed()}}</pre></div>
                      </div>
                    </ng-container>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Jobs
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th (click)="sort('accepted')">
                  <a>
                    Accepted
                    <ng-container>
                    <i *ngIf="sortDir === 1" class="fa fa-sort-asc" aria-hidden="true"></i>
                    <i *ngIf="sortDir === -1" class="fa fa-sort-desc" aria-hidden="true"></i>
                    </ng-container>
                  </a>
                </th>
                <th>
                  Elapsed
                </th>
                <th>
                  Status
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="job" [class.selected]="selectedJob === item" *ngFor="let item of jobs" (click)="selectJob(item)">
                <td *ngIf="item.accepted_on !== 'Unknown'; else plainAcceptedOn">{{ item.accepted_on|date:'medium' }}</td>
                <ng-template #plainAcceptedOn>
                  <td>{{ item.accepted_on }}</td>
                </ng-template>
                <td>{{ item.elapsed }}</td>
                <td>{{ item.latest_status }}</td>
                <td>
                  <button type="button" class="close" aria-label="Close" (click)="deleteJob(item)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button (click)="removeAll()" class="text-right btn btn-default btn-xs" style="float: right">
                    Remove All
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <nav aria-label="Page navigation">
              <ul class="pager">
                <li [class.disabled]="userService.previous === null" (click)="previousPage()"><a>Previous</a></li>
                <li [class.disabled]="userService.next === null" (click)="nextPage()"><a>Next</a></li>
              </ul>
            </nav>
            Items per page
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsPP}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li (click)="updateLimit(x)" *ngFor="let x of itemsPPChoices"><a>{{x}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
