 <div class="content">
  <div class="pane">
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <p class="form-control-static" id="username">{{model?.username}}</p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [ngModel]="model?.email" (ngModelChange)="model.email=$event" name="email">
      </div>
      <div class="form-group">
        <label for="openid">OpenID</label>
        <p class="form-control-static" id="openid">{{model?.openid}}</p>
      </div>
      <div class="form-group">
        <label for="type">Authenticated</label>
        <p class="form-control-static" id="type">{{model?.type}}</p>
        <div *ngIf="configService.certEnabled && model?.type !== ''">
          <a href="{{configService.authUserCertPath}}">Download Certificate</a>
          <a data-toggle="modal" data-target="#certDialog"><i aria-hidden="true" class="fa fa-question-circle"></i></a>
        </div>
      </div>
      <div class="form-group">
        <label for="api_key">API Key</label>
        <p class="form-control-static" id="api_key">{{model?.api_key}}</p>
      </div>
      <div *ngIf="model?.type === 'myproxyclient'" class="alert alert-warning" role="alert">
        MyProxyClient only grants certificates valid for 72 hours. After 72 hours you must re-authenticate.
      </div>
      <div>
        <button type="submit" class="btn btn-default">Update</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#regenerateWarning">Regenerate Key</button>
        <button type="button" (click)="onOAuth2()" class="btn btn-default">OAuth2</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myproxyclient">MyProxyClient</button>
      </div>
    </form>
  </div>
  <div class="modal fade" id="certDialog" tabindex="1" role="dialog" aria-labelledby="certDialogLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="regenerateWarningLabel">ESGF Certificate</h4>
        </div>
        <div class="modal-body">
          <p>
            This is the certificate issued by ESGF to access protected data.
          </p>
          <p>
            To use the certificate with CDMS2, you'll need to execute the python interperter or script in the same directory as a .dodsrc file. You'll find an example below.
          </p>
          <p>
            <code>
              HTTP.COOKIEJAR=.dods_cookies
            </code>
            <br />
            <code>
              HTTP.SSL.CERTIFICATE=cert.pem
            </code>
            <br />
            <code>
              HTTP.SSL.KEY=cert.pem
            </code>
            <br />
            <code>
              HTTP.SSL.CAPATH=cert.pem
            </code>
            <br />
            <code>
              HTTP.SSL.VERIFY=0
            </code>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="regenerateWarning" tabindex="1" role="dialog" aria-labelledby="regenerateWarningLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="regenerateWarningLabel">Regenerate API Key</h4>
        </div>
        <form (ngSubmit)="onRegenerateKey()" #regenForm="ngForm">
          <div class="modal-body">
            <p>
              Your API key is only used to access the WPS service. Any scripts using the ESGF CWT End-User API will need to have their keys updated. This has not affect on your ESGF account.
            </p>
            <p>
              Are you sure you want to regenerate?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-default">Yes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myproxyclient" tabindex="1" role="dialog" aria-labelledby="myproxyclientLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myproxyclientLabel">ESGF OpenID Login</h4>
        </div>
        <form (ngSubmit)="onMPCSubmit()" #mpcForm="ngForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="mpc-username">Username</label>
              <input type="text" class="form-control" id="mpc-username" required
                [(ngModel)]="mpc.username" name="username">
            </div>
            <div class="form-group">
              <label for="mpc-password">Password</label>
              <input type="password" class="form-control" id="mpc-password" required
                [(ngModel)]="mpc.password" name="password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
