<html>
  <head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static "compute/wps.js" %}"></script>
  </head>
  <body>
    <div>
      <h1>Processes</h1>
      <div>
        <button id="getcapabilities_btn">GetCapabilities</button>
      </div>
      <div>
        <select id="process_select"></select>
        <br>
        <button id="describeprocess_btn">DescribeProcesses</button>
      </div>
      <div>
        <input id="query" type="text" style="width: 50%;" />
	<br>
	<input id="store" type="checkbox">Store Execute Response</input>
        <br>
	<input id="status" type="checkbox">Status</input>
	<br>
        <button id="execute_btn">Execute</button>
      </div>
    </div>
    <div>
      <h1>Result</h1>
      <textarea id="result" style="width: 50%; height: 600px"></textarea>
    </div>
  </body>
</html>
