<div class="container-fluid map-container">
  <div class="row fill">
    <div class="col-md-2 fill">
      <form #configForm="ngForm">
        <div class="panel-group fill" id="accordion">
          <div class="panel panel-default fill">
            <div class="panel-heading">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConfig">Configuration</a>
              </div>
            </div>
            <div id="collapseConfig" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="form-group">
                  <label for="process">Dataset</label>
                  <select [(ngModel)]="config.datasetID" (change)="loadDataset()" class="form-control" id="datasetID" name="datasetID">
                    <option *ngFor="let dataset of datasetIDs">{{dataset}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="process">Process</label>
                  <select [(ngModel)]="config.process" class="form-control" id="process" name="process">
                    <option *ngFor="let proc of processes | async">{{proc}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="variable">Variable</label>
                  <select [(ngModel)]="config.variable" (change)="loadVariable()" class="form-control" id="variable" name="variable">
                    <option *ngFor="let v of variables" [value]="v">{{v}} ({{result[v].files.length}})</option>
                  </select>
                </div>
                <div>
                  <button (click)="onDownload()" type="submit" class="btn btn-default">Script</button>
                  <button (click)="onExecute()" type="submit" class="btn btn-default">Execute</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default fill">
            <div class="panel-heading">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRegrid">Regrid</a>
              </div>
            </div>
            <div id="collapseRegrid" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="form-group">
                  <label for="regrid">Regrid</label>
                  <select [(ngModel)]="config.regrid" class="form-control" id="regrid" name="regrid">
                    <option>None</option>
                    <option>Gaussian</option>
                    <option>Uniform</option>
                  </select>
                  <br *ngIf="config.regrid !== 'None'">
                  <div *ngIf="config.regrid !== 'None'" class="panel panel-default">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="lats">Latitudes</label>
                        <input [(ngModel)]="config.regridOptions.lats" type="number" class="form-control" id="lats" placeholder="Latitudes" name="lats">
                      </div>
                      <div *ngIf="config.regrid === 'Uniform'" class="form-group">
                        <label for="lons">Longituds</label>
                        <input [(ngModel)]="config.regridOptions.lons" type="number" class="form-control" id="lons" placeholder="Longitudes" name="lons">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default fill">
            <div class="panel-heading">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseParameter">Parameters</a>
              </div>
            </div>
            <div id="collapseParameter" class="panel-collapse collapse">
              <div class="panel-body">
                <div>
                  <ul class="list-unstyled">
                    <li *ngFor="let param of config?.params">
                      <parameter [param]="param" (remove)="removeParameter($event)"></parameter>
                    </li>
                  </ul>
                </div>
                <button type="button" (click)="addParameter()">Add</button>
              </div>
            </div>
          </div>
          <div class="panel panel-default fill">
            <div class="panel-heading">
              <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDomain">Domain</a>
              </div>
            </div>
            <div id="collapseDomain" class="panel-collapse collapse">
              <div class="panel-body">
                <select [(ngModel)]="domainModel.value" (change)="domainChange()" class="form-control" name="value">
                  <option *ngFor="let domain of domains">{{domain.name}}</option>
                </select>
                <div class="panel-group" id="accordionAxis">
                  <axis *ngFor="let axis of config?.dataset.axes; index as i" [axisIndex]="i" [axis]="axis" (axisChange)="onAxisChange($event)"></axis>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-10 fill">
      <div #mapContainer class="map-container"></div>
    </div>
  </div>
</div>
