<tabs>
  <tab tabTitle="Process">
    <div class="container-fluid pane">
      <div class="row">
        <div class="col-md-2">
          <process-detail [datasets]="datasets" [params]="params"></process-detail>
        </div>
        <div class="col-md-10 map-container">
          <domain-map></domain-map>
        </div>
      </div>
    </div>
  </tab>
  <!--
  <tab *ngIf="configService.workflowEnabled" tabTitle="Workflow">
    <workflow [config]="config" [datasets]="datasetIDs" [processes]="processes"></workflow>
  </tab>
  -->
</tabs>
