<panel-group>
  <panel title="General">
    <div class="form-group">
      <label for="dataset">Dataset</label>
      <select [(ngModel)]="selectedDataset" (ngModelChange)="changeDataset($event)" class="form-control" id="dataset" name="dataset">
        <option *ngFor="let d of _datasets" [ngValue]="d">{{d.masterID}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="variable">Variable</label>
      <div class="input-group">
        <select [(ngModel)]="selectedVariable" (ngModelChange)="changeVariable($event)" class="form-control" id="variable" name="variable">
          <option *ngFor="let v of selectedDataset?.variableCollection?.variables" [ngValue]="v">{{v.id}}</option>
        </select>
        <span class="input-group-btn">
          <button (click)="showFiles()" data-toggle="modal" data-target="#filesModal" class="btn btn-default" type="button">Files</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="operation">Operation</label>
      <div class="input-group">
        <select [(ngModel)]="selectedOperation" (ngModelChange)="changeOperation($event)" class="form-control" id="operation" name="operation">
          <option *ngFor="let o of operations" [ngValue]="o">{{o.identifier}}</option>
        </select>
        <span class="input-group-btn">
          <button data-toggle="modal" data-target="#abstractModal" class="btn btn-default" type="button">Abstract</button>
        </span>
      </div>
    </div>
    <div>
      <button class="btn btn-default" type="button">Download</button>
      <button class="btn btn-default" type="button">Execute</button>
    </div>
  </panel>
  <panel title="Regrid">
    <regrid-config [model]="regridModel"></regrid-config>
  </panel>
  <panel title="Parameters" ignoreBody="true">
    <div class="list-group-item">
      <button type="button" (click)="addParameter()" class="btn btn-default">Add</button>
    </div>
    <div *ngFor="let p of parameters" class="list-group-item">
      <parameter [param]="p" (remove)="removeParameter($event)"></parameter>
    </div>
  </panel>
  <panel title="Domain">
    <domain [axes]="axes"></domain>
  </panel>
</panel-group>
<div class="modal fade" id="filesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Dataset files containing "{{selectedVariable?.id}}"</h4>
      </div>
      <div class="modal-body">
        <div class="file-table-container">
          <table class="file-table table table-bordered">
            <thead>
              <tr>
                <td class="file-url-column">Url</td>
                <td>
                  <div>
                    <button class="btn btn-default btn-xs" (click)="updateFilesIncluded(true)">Select all</button>
                    <button class="btn btn-default btn-xs" (click)="updateFilesIncluded(false)">Deselect all</button>
                  </div>
                </td>
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor="let item of files | slice:fileState?.start:fileState?.stop">
                <td class="file-url-column">
                  <a href={{item.url|thredds}} target="_blank">{{item.url}}</a>
                </td>
                <td>
                  <input class="form-check-input" type="checkbox" [checked]="item.included" (change)="item.included = $event.target.checked" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <nav>
          <ul class="pager">
            <li [class.disabled]="!fileState?.canPrevious()"><a (click)="fileState?.previous()">Previous</a></li>
            <li [class.disabled]="!fileState?.canNext()"><a (click)="fileState?.next()">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="abstractModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{selectedOperation?.identifier}}</h4>
      </div>
      <div class="modal-body">
        <div id="abstract">
          {{selectedOperation?.description?.abstract}}
        </div>
      </div>
    </div>
  </div>
</div>
