<div class="container-fluid pane">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseProcess" aria-expanded="true" aria-controls="collapseProcess">Processes</a>
          </h4>
        </div>
        <div id="collapseProcess" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-group">
              <li *ngFor="let x of processes" class="list-group-item" dnd-draggable [dragEnabled]="true" [dragData]="x">{{x}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="fill">
        <svg class="graph-container" dnd-droppable (onDropSuccess)="dropped($event)"></svg>
      </div>
    </div>
  </div>
  <div class="modal fade" id="configure" tabindex="-1" role="dialog" aria-labeby="configureLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="configureLabel">Configure Process ({{selectedNode?.identifier}})</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Inputs</h4>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <select [(ngModel)]="model.selectedInput" class="form-control">
                  <option disabled hidden [ngValue]="undefined">No inputs available</option>
                  <option *ngFor="let x of model.availableInputs" [ngValue]="x">{{x.display()}}</option>
                </select>
                <span class="input-group-btn">
                  <button (click)="addInput()" type="button" class="btn btn-default"
                    [disabled]="model.availableInputs.length == 0">Add</button>
                </span>
              </div>
            </div>
            <div class="list-group">
              <div *ngFor="let x of selectedNode?.inputs" class="list-group-item clearfix">
                <span>{{x.display()}}</span>
                <span class="pull-right">
                  <span (click)="removeInput(x)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
