<div class="container-fluid pane">
  <div class="row">
    <div class="col-md-2">
      <panel-group>
        <panel title="General">
          <div class="btn-group" role="group">
            <button (click)="onScript()" type="button" class="btn btn-default">Script</button>
            <button (click)="onExecute()" type="button" class="btn btn-default">Execute</button>
            <button (click)="showHelp()" type="button" class="btn btn-default">Help</button>
          </div>
        </panel>
        <panel scrollable="true" ignoreBody="true" title="Processes">
          <div
            (click)="showAbstract(x)"
            *ngFor="let x of processes" 
            class="list-group-item" 
            data-toggle="modal"
            data-target="#abstractModal"
            dnd-draggable
            [dragEnabled]="true" 
            [dragData]="x.identifier">{{x.identifier}}</div>
        </panel>
        <!--<panel title="Regrid">
          <regrid [model]="model.process.regrid"></regrid>
        </panel>
        -->
        <panel ignoreBody="true" title="Parameters">
          <li class="list-group-item">
            <button (click)="addParameterWorkflow()" class="btn btn-default">Add</button>
          </li>
          <li *ngFor="let param of model.process.parameters" class="list-group-item">
            <parameter [param]="param" (remove)="removeParameterWorkflow($event)"></parameter>
          </li>
        </panel>
        <panel ignoreBody="true" title="Domain">
          <div class="list-group-item">
            <div class="input-group select-spacer">
              <select (change)="domainChange()" [(ngModel)]="model.domain" class="form-control">
                <option>World</option>
                <option>Custom</option>
              </select>
              <span class="input-group-btn">
                <button
                  type="button" 
                  class="btn btn-default dropdown-toggle" 
                  data-toggle="dropdown">Show <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a (click)="showDomain()">Show Map</a></li>
                  <li><a (click)="showExplorer()">Load from dataset</a></li>
                </ul>
              </span>
            </div>
          </div>
          <div *ngFor="let x of model.process.domain; index as i" class="list-group-item">
            <axis [axis]="x" [axisIndex]="i" (axisChange)="map.onAxisChange($event)"></axis>
          </div>
        </panel>
      </panel-group>
    </div>
    <div class="col-md-10">
      <div class="fill">
        <svg class="graph-container" dnd-droppable (onDropSuccess)="dropped($event)"></svg>
      </div>
    </div>
  </div>
  <div class="modal fade" [class.loading]="loading" id="datasetExplorer" tabindex="-1" role="dialog" aria-labelby="datasetLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="datasetLabel">Dataset Explorer</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Dataset</h4>
            </div>
            <div class="panel-body">
              <select (change)="loadDataset()" [(ngModel)]="model.selectedDataset" class="form-control">
                <option *ngFor="let x of model.availableDatasets" [ngValue]="x">{{x.dataset.id}}</option>
              </select>          
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Variable</h4>
            </div>
            <div class="panel-body">
              <select (change)="loadVariable()" [(ngModel)]="model.selectedVariable" class="form-control">
                <option *ngFor="let x of model.selectedDataset.dataset.variables" [ngValue]="x">{{x.id}}</option>
              </select>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Domain</h4>
            </div>
            <div class="panel-body">
              <axis *ngFor="let x of model.selectedVariable?.axes" [axis]="x"></axis>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="loadDomain()" type="button" class="btn btn-default">Load</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelby="helpLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="helpLabel">Workflow Editor Help</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">
              Drag & drop process from list (left) to editor (right)
            </li>
            <li class="list-group-item">
              Shift-click on a Process and then drag to another Process to connect
            </li>
            <li class="list-group-item">
              Click on a link and press Backspace/Delete to remove
            </li>
            <li class="list-group-item">
              Click on a Processs to Configure
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelby="mapLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="mapLabel">Domain</h4>
        </div>
        <div class="modal-body">
          <domain-map [axes]="model.process.domain"></domain-map>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="configure" tabindex="-1" role="dialog" aria-labelby="configureLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="configureLabel">Configure Process ({{selectedNode?.display()}})</h4>
        </div>
        <div class="modal-body">
          <panel-group>
            <panel ignoreBody="true" title="Inputs">
              <div class="list-group-item">
                <select [(ngModel)]="model.selectedDataset" class="form-control">
                  <option disabled hidden [ngValue]="undefined">No datasets available</option>
                  <option *ngFor="let x of model.availableDatasets" [ngValue]="x">{{x.display()}}</option>
                </select>
              </div>
              <div class="list-group-item">
                <div class="input-group">
                  <select [(ngModel)]="model.selectedVariable" class="form-control">
                    <option disabled hidden [ngValue]="undefined">No variables available</option>
                    <option *ngFor="let x of model.selectedDataset?.dataset.variables" [ngValue]="x">{{x.id}}</option>
                  </select>
                  <span class="input-group-btn">
                    <button (click)="selectedNode?.process.addInput(model.selectedVariable)" class="btn btn-default">Add</button>
                  </span>
                </div>
              </div>
              <div *ngFor="let item of selectedNode?.process.inputs" class="list-group-item container-fluid">
                <div class="row">
                  <div *ngIf="isVariable(item); else processBlock">
                    <div class="col-md-9">
                      {{item.dataset}} | <b>{{item.id}}</b>
                    </div>
                    <div class="col-md-2">
                      <button (click)="loadDomainToProcess(item, selectedNode)" type="button" class="btn btn-default">
                        Load Domain
                      </button>
                    </div>
                  </div>
                  <ng-template #processBlock>
                    <div>
                      <div class="col-md-11">
                        {{item.identifier}}
                      </div>
                    </div>
                  </ng-template>
                  <div class="col-md-1">
                    <button (click)="removeInput(selectedNode, item)" type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </panel>
            <!--<panel title="Regrid">
              <regrid [model]="selectedNode?.process.regrid"></regrid>
            </panel>
            -->
            <panel ignoreBody="true" title="Parameters">
              <li class="list-group-item">
                <button (click)="addParameter()" class="btn btn-default">Add</button>
              </li>
              <li *ngFor="let param of selectedNode?.process.parameters" class="list-group-item">
                <parameter [param]="param" (remove)="removeParameter($event)"></parameter>
              </li>
            </panel>
            <panel ignoreBody="true" title="Domain">
              <div class="list-group-item">
                <div class="input-group select-spacer">
                  <select (ngModelChange)="domainPresetChange($event)" [ngModel]="selectedNode?.process.domainPreset" class="form-control">
                    <option>None</option>
                    <option>Global</option>
                    <option>Custom</option>
                  </select>
                  <div class="input-group-btn">
                    <button
                      type="button" 
                      class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown">Copy from <div class="caret"></div></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li *ngIf="copyNodes != undefined && copyNodes.length == 0">
                        <a>None</a>
                      </li>
                      <li *ngFor="let x of copyNodes" (click)="domainCopy(x)" class="dropdown-item">
                        <a>{{x.process.identifier}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedNode?.process.domainPreset === 'Custom'" class="list-group-item">
                <div class="input-group">
                  <input #axisName type="text" class="form-control" placehold="Dimension name" axisName.value=''>
                  <span class="input-group-btn">
                    <button (click)="addAxis(axisName.value)" type="button" class="btn btn-default">
                      Add
                    </button>
                  </span>
                </div>
              </div>
              <div *ngFor="let x of selectedNode?.process.domain; index as i" class="list-group-item">
                <axis [axis]="x"
                  [axisIndex]="i" 
                  [canRemove]="selectedNode?.process.domainPreset === 'Custom'"
                  (axisRemove)="removeAxis($event)">
                </axis>
              </div>
            </panel>
          </panel-group>
        </div>
        <div class="modal-footer">
          <button (click)="removeNode(selectedNode)" type="button" class="btn btn-danger" style="float: left;">Remove</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
