<div>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="{{configService.basePath}}">WPS</a>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{{configService.esgfURL}}" target="_blank">ESGF</a></li>
          <li><a href="{{configService.cogURL}}" target="_blank">CoG</a></li>
          <li><a href="{{configService.apiURL}}" target="_blank">API</a></li>
          <li *ngIf="logged && admin">
            <a class="admin" routerLink="{{configService.adminPath}}">Admin</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!logged; else elseBlock"><a class="login" routerLink="{{configService.loginPath}}">Login</a></li>
          <ng-template #elseBlock>
            <li><a class="jobs" routerLink="{{configService.userJobPath}}">Jobs</a></li>
            <li><a class="profile" routerLink="{{configService.profilePath}}">Profile</a></li>
            <li><a class="logout" routerLink="{{configService.logoutPath}}">Logout</a></li>
          </ng-template>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <notification></notification>
    <router-outlet></router-outlet>
  </div>
</div>
