<div class="container">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required
        [(ngModel)]="model.username" name="username">
    </div>
    <div class="form-group">
      <label for="openID">OpenID</label>
      <input type="text" class="form-control" id="openID" required
        [(ngModel)]="model.openID" name="openID">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required email
        [(ngModel)]="model.email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
        [(ngModel)]="model.password" name="password">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</div>
