serviceType: NodePort

debug:
  enabled: false

resources:
  requests:
    cpu: 200m
    memory: 256Mi

  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector:
  tier: frontend

rbac:
  enabled: true

ssl:
  enabled: true
  enforced: true
  tlsMinVersion: VersionTLS12
  cipherSuites:
  - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
  - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
  - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
  - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
  - TLS_ECDHE_ECDSA_WITH_RC4_128_SHA
  generateTLS: true
  # defaultCert:
  # defaultKey:

dashboard:
  enabled: true
  domain: ""
  ingress:
    annotations:
      ingress.kubernetes.io/whitelist-source-range: 
      traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
      ingress.kubernetes.io/ssl-redirect: "true"
      ingress.kubernetes.io/hsts-max-age: "31536000"
      ingress.kubernetes.io/hsts-include-subdomains: "true"
      ingress.kubernetes.io/force-hsts: "true"
    labels:
      traffic-type: external

kubernetes:
  labelSelector: traffic-type=external

metrics:
  prometheus:
    enabled: true
    restrictAccess: true

deployment:
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
    
  hostPort:
    httpEnabled: true
    httpsEnabled: true
