.axis_label {
	font-family: Arial, sans-serif;
	text-anchor: end;
	font-size: 14px;
	fill: gray;
}

#yaxis {
    position: absolute;
    height: 800px;
    width: 40px;
}

#chart {
    left: 50px;
    width: 1000px;
    position: absolute;
}
	