<div class="container-fluid">
  <form (ngSubmit)="onSubmit()" #configForm="ngForm">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group form-group-sm">
          <label for="process">Process</label>
          <select id="process" class="form-control" [(ngModel)]="config.process" name="process">
            <option *ngFor="let proc of PROCESSES">{{proc}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2"> 
        <div class="form-group form-group-sm">
          <label for="variable">Variable</label>
          <select id="process" class="form-control" [(ngModel)]="config.variable" name="variable">
            <option *ngFor="let item of variables">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group form-group-sm">
          <label for="regrid">Regrid</label>
          <select id="regrid" class="form-control" [(ngModel)]="config.regrid" name="regrid">
            <option>None</option>
            <option>Gaussian</option>
            <option>Uniform</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group form-group-sm">
          <label>&nbsp;</label>
          <div *ngIf="config.regrid !== 'None'">
            <input type="number" class="form-control" placeholder="Latitudes" [(ngModel)]="config.latitudes" name="latitudes" required>
            <div *ngIf="config.regrid === 'Uniform'">
              <input type="number" class="form-control" placeholder="Longitudes" [(ngModel)]="config.longitudes" name="longitudes" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-default">Download</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div>
          <button type="button" class="btn btn-default" (click)="onAddDimension()">Add</button>
        </div>
        <br>
        <ul class="list-unstyled">
          <li *ngFor="let d of dimensions"><dimension [dimension]="d"></dimension>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">
            <svg class="center-block"></svg>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
