<div class="container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required
        [(ngModel)]="model.username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
        [(ngModel)]="model.password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button class="btn btn-default" routerLink="/wps/home/create">Create Account</button>
  </form>
</div>
