<div class="container">
  <div class="pane">
    <table *ngIf="stats !== null && stats.files.length > 0; else noFiles" class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Host</td>
          <td>Requested</td>
          <td>Variable</td>
          <td>Requested Date</td>
        </tr>
      </thead>
      <tr *ngFor="let file of stats.files">
        <td><a href="{{file.url | thredds}}" target="_blank">{{file.name}}</a></td>
        <td>{{file.host}}</td>
        <td>{{file.requested}}</td>
        <td>{{file.variable}}</td>
        <td>{{file.requested_date | date:'medium'}}</td>
      </tr>
    </table>
    <ng-template #noFiles>
      <div class="text-center">
        <h3>No File Stats</h3>
      </div>
    </ng-template>
  </div>
</div>
