<div class="container">
  <div class="pane">
    <table class="table">
      <thead>
        <tr>
          <td>Identifier</td>
          <td>Backend</td>
          <td>Requested</td>
          <td>Requested Date</td>
        </tr>
      </thead>
      <tr *ngFor="let process of stats | async">
        <td>{{process.identifier}}</td>
        <td>{{process.backend}}</td>
        <td>{{process.requested}}</td>
        <td>{{process.requested_date | date:'medium'}}</td>
      </tr>
    </table>
  </div>
</div>
